.detailRow {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.detailIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: black;
  flex-shrink: 0;
  margin-top: 0.25rem;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-clamp: 2;
  flex: 1;
}

.status {
  position: absolute;
  top: .5rem;
  left: .5rem;
  padding: 0.2rem 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chevron {
  width: 1.25rem;
  height: 1.25rem;
  color: black;
  flex-shrink: 0;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.chevronExpanded {
  transform: rotate(180deg);
}

.collapsibleDetails {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.collapsibleDetails.expanded {
  max-height: 500px; /* Adjust based on your content */
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
} 